<p id="notice"><%= notice %></p>

<table>
  <tr>
    <td>Email</td>
    <td><%= @coordinator.email%></td>
  </tr>
  <tr>
    <td>Name</td>
    <td><%= @coordinator.name%></td>
  </tr>
  <tr>
    <td>Phone number</td>
    <td><%= @coordinator.phone_number%></td>
  </tr>
</table>

<h3>Registries</h3>
<%-if  @coordinator.registries.present?%>
<table>
  <th>name</th>
  <th>location</th>
  <%- @coordinator.registries.each do |registry|%>
    <tr>
      <td><%= registry.name%></td>
      <td><%= registry.location%></td>
    </tr>
  <% end -%>
<% end -%>
</table>

<%= link_to 'Edit', edit_coordinator_path(@coordinator) %> |
<%= link_to 'Back', coordinators_path %>
<%= link_to 'Enrollments', coordinator_enrollments_path(@coordinator) %>
